body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
}

.carts-list {
    max-width: 1200px;
    margin: 0 auto 15rem;
    padding: 20px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.cart-item-wrapper {
    width: 70%;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px 0;
}

.cart-product {
    display: flex;
}

.cart-product img {
    width: 100px;
    height: 150px;
    object-fit: cover;
    margin-right: 20px;
}

.product-info h3 {
    font-size: 16px;
    margin: 0 0 10px 0;
}

.product-info p {
    font-size: 14px;
    color: #333;
    margin: 0 0 10px 0;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.quantity-control button {
    width: 30px;
    height: 30px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    cursor: pointer;
}

.quantity-control span {
    margin: 0 10px;
}

.remove-item {
    background: none;
    border: none;
    color: #999;
    cursor: pointer;
}

.carts-list-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.cart-summary {
    width: 20%;
    margin-top: 20px;
    text-align: right;
}

.cart-summary-top {
    border: 1px solid #999;
    border-radius: 5px;
    padding: 1rem 0.5rem;
}

/* .cart-summary span {
    margin: 5px 0;
} */

.cart-summary-top div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.8rem;
}

.loadMoreBtn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #516FF5;
    /* color: white; */
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.loadMoreBtn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.buy-btn {
    text-align: center;
    width: 100%;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    background-color: #516FF5;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;
    border: none;
}

.buy-btn:hover {
    background-color: #3d4b9a;
    text-decoration: none;
}