* {
    box-sizing: border-box;
}

.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh
}

.error-digit {
    font-size: 1500%;
    font-weight: bold;
}

.button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.main-link,
.back-link {
    width: 150px;
    padding: 0.5rem 0;
}

.main-link a,
.back-link a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.main-link {
    margin-right: 30px;
    background-color: #516FF5;
    border: none;
    border-radius: 10px;

    transition: 0.2s all;
    cursor: pointer;
}

.main-link:hover {
    background-color: #2b4f9f;
}

.main-link a {
    color: #fff;
}

.back-link {
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 10px;

    transition: 0.2s all;
    cursor: pointer;
}

.back-link:hover {
    background-color: #ccc;
}

.back-link a {
    color: #000;
}