.header-container {
    width: 100%;
    overflow-x: hidden;
}

.left-btn,
.right-btn {
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: none;
}

.left-btn {
    float: left;
}

.right-btn {
    float: right;
    display: flex;
    align-items: center;
}

.left-btn > button,
.right-btn > button,
.search-box button {
    background-color: white;
    border: none;
}

/* 이미지 스타일 */
.left-btn > button > img {
    width: 60%;
    height: auto;
}

.right-btn > button > div > img,
.search-icon {
    width: 40%;
    height: auto;
    max-width: 50%;
    max-height: 50%;
}

/* 헤더 구분선 */
.header-divider {
    width: 100%;
    border: none;
    margin: 20px 0;
    display: block;
}

/* 검색 박스 */
.search-box {
    display: flex;
    align-items: center;
}

.search-box form {
    padding-top: 0;
}

.search-box form .input-container {
    margin-bottom: 0;
}

/* 카테고리 네비게이션 */
.header-bottom {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.header-bottom::-webkit-scrollbar {
    display: none;
}
.category-nav {
    display: flex;
    flex-wrap: nowrap;
    padding: 10px 0;
    margin: 0;
    white-space: nowrap;
    justify-content: flex-start;
}

.category-nav > button {
    flex: 0 0 auto;
    padding: 5px 10px;
    margin: 0 5px;
    background-color: white;
    border: none;
}

.category-nav > button > p {
    font-size: 16px;
    margin: 0;
    white-space: nowrap;
}

/* 검색 폼 */
.search-form {
    display: flex;
    align-items: center;
}

.search-form input {
    flex-grow: 1;
    margin-right: 10px;
}

/* 반응형 스타일 */
@media (max-width: 960px) {
    .header-container {
        padding: 5px;
    }

    .left-btn img {
        width: 60px;
    }

    .category-nav {
        flex-wrap: wrap;
        justify-content: center;
    }

    .category-nav button {
        margin: 5px;
        font-size: 14px;
    }

    .search-form,
    .search-form input {
        width: 100%;
    }
}
@media (max-width: 768px) {
    .header-bottom {
        justify-content: flex-start;
        padding-right: 0;
    }

    .category-nav {
        justify-content: flex-start;
        flex-wrap: nowrap;
        overflow-x: auto;
    }

    .category-nav > button {
        margin: 0 10px 0 0;
    }

    .category-nav > button:last-child {
        margin-right: 0;
    }
}
@media (max-width: 600px) {
    .header-container {
        padding: 5px;
    }

    .header-top {
        flex-wrap: nowrap;
    }

    .left-btn > button > img {
        width: 60px;
        height: auto;
    }

    .header-bottom {
        margin-top: 5px;
    }

    .category-nav {
        padding: 5px 0;
        margin-bottom: 0.5rem;
    }

    .category-nav > button > p {
        font-size: 12px;
    }

    .right-btn {
        display: none;
    }
}