.order-item {
    border: 1px solid #e0e0e0;
    margin-bottom: 20px;
    padding: 15px;
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.detail-link {
    color: #888;
    text-decoration: none;
}

.order-product {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.product-image {
    width: 80px;
    height: 120px;
    object-fit: cover;
    margin-right: 15px;
}

.product-info {
    flex-grow: 1;
    margin-left: 1.2rem;
}

.product-info h3 {
    margin: 0 0 5px 0;
    font-size: 16px;
}

.product-info p {
    margin: 0;
    color: #888;
    font-size: 14px;
}

.product-price {
    font-weight: bold;
    color: #333;
}

.order-footer {
    display: flex;
    justify-content: flex-end;
}

.order-status {
    font-weight: bold;
    color: #4a90e2;
}

button {
    border: none;
    background: none;
    /* color: #333; */
}

button.active {
    font-weight: bold;
    color: #000;
    text-decoration: underline;
}