.item-all-list-view {
  border: 1px solid #e0e0e0;
  margin: 0 auto;
  padding: 5rem 1.2rem;
}

.item-all-list-view h2 {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
  margin-left: 1rem;
}

.item-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.item-item {
  display: flex;
  border-bottom: 1px solid #eee;
  padding-bottom: 20px;
}

.item-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
}

.item-titles {
  flex: 1;
  min-width: 0;
}

.item-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.item-date {
  font-size: 0.9em;
  color: #888;
}

.item-description {
  margin: 0;
  word-break: break-word;
}

.item-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  font-size: 0.9em;
  color: #888;
}

/* 큰 화면에서는 오른쪽 정렬 */
@media screen and (min-width: 768px) {
  .item-actions {
    margin-left: auto;
    padding-left: 20px;
  }
}

/* 작은 화면에서는 새로운 줄에 표시하고 왼쪽 정렬 */
@media screen and (max-width: 767px) {
  .item-item {
    flex-direction: column;
  }

  .item-actions {
    align-self: flex-start;
    margin-top: 10px;
    padding-left: 0;
  }
}

.action-link {
  cursor: pointer;
  text-decoration: none;
  color: #888;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.pagination span {
  cursor: pointer;
  padding: 5px 10px;
  border: 1px solid #ddd;
}

.pagination span.active {
  background-color: #f0f0f0;
}