
.admin-orders-page {
    padding: 3rem;
    border: 1px solid #9B9B9B;
}
  
.admin-orders-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5rem;
}
  
.admin-orders-list {
    background-color: white;
}

.admin-orders-column {
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #D9D9D9;
}
.admin-orders-column p {
    width: 20%;
    text-align: center;
}
  
.admin-order-item {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px;
    transition: background-color 0.3s ease;
}
  
.admin-order-item:hover {
    background-color: #f9f9f9;
}
  
.admin-order-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.admin-order-info {
    display: flex;
    align-items: center;
    width: 100%;
}
.admin-order-info p,
.admin-order-status {
    width: 20%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    box-sizing: border-box;
}

.admin-order-status {
    text-align: center;
}
  
.admin-status-select {
    width: 40%;
    text-align: center;
    margin-left: 0.6rem;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    cursor: pointer;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.admin-status-select:hover {
    border-color: none;
}

.admin-status-select:focus {
    outline: none;
    border-color: none;
}

.admin-status-select option {
    outline: none;
}

.css-bn9g8l-MuiGrid-root {
    margin-top: 2% !important;
    display: flex;
    justify-content: space-around;
    width: calc(80% + 16px) !important;
    margin: 2% auto 12rem !important;
}

.admin-pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
.admin-pagination button {
    background-color: white;
    border: none;
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}
  
.admin-pagination button:hover {
    background-color: #e9ecef;
}
  
.admin-pagination button.active {
    font-weight: bold;
}

.css-mhc70k-MuiGrid-root{
    width: 80% !important;
    margin: 0 auto !important;
}
.css-1idn90j-MuiGrid-root {
    display: flex !important;
    justify-content: left !important;
}
.css-1idn90j-MuiGrid-root>h1 {
    float: none !important;
    margin: 0 !important;
    padding: 0 24px !important;
}

.css-zwha4c-MuiGrid-root {
    width: 20%;
    -webkit-box-flex: none !important;
    flex-basis: auto !important;
    flex-grow: initial !important;
    max-width: none !important;
}

.css-zoyb8x-MuiButtonBase-root-MuiButton-root {
    font-size: 1.5rem !important;
    color: #8a8a8a !important;
    font-weight: bold !important;
    transition: 0.3s all !important;
    justify-content: left !important;
}
.css-zoyb8x-MuiButtonBase-root-MuiButton-root.active {
    color: #000 !important;
}
.css-zoyb8x-MuiButtonBase-root-MuiButton-root:hover {
    color: #000 !important;
}
.css-zoyb8x-MuiButtonBase-root-MuiButton-root:hover {
    background-color: none !important;
}
.css-1qs1oxw-MuiGrid-root {
    padding: 1rem 0 0 0 !important;
    width: 80%;
    -webkit-box-flex: none !important;
    flex-basis: auto !important;
    flex-grow: initial !important;
    max-width: none !important;


}
.css-1qs1oxw-MuiGrid-root> .css-1oqqzyl-MuiContainer-root {
    width: 80% !important;
    float: left !important;

    border: 1px solid #ccc !important;
    padding-top: 3rem !important;
}

.css-1qs1oxw-MuiGrid-root> .css-1oqqzyl-MuiContainer-root h2 {
    border-bottom: 1px solid #000;
}

.css-1qs1oxw-MuiGrid-root> .css-1oqqzyl-MuiContainer-root div {
    display: flex;
    align-items: center;
    justify-content: left;
}

.css-1qs1oxw-MuiGrid-root> .css-1oqqzyl-MuiContainer-root div p {
    width: 8%;
}

.css-1qs1oxw-MuiGrid-root> .css-1oqqzyl-MuiContainer-root div .input-container {
    width: 80%;
    margin-bottom: 0;
}

.css-1qs1oxw-MuiGrid-root> .css-1oqqzyl-MuiContainer-root div .input-container input {
    padding: 0.5rem;
}

/* .MuiButton-root {
    margin-top: 1rem !important;
} */

@media (min-width: 1536px) {
    .css-zwha4c-MuiGrid-root {
        -webkit-box-flex: none !important;
        flex-basis: auto !important;
        flex-grow: initial !important;
        max-width: none !important;
    }
    .css-bn9g8l-MuiGrid-root>.MuiGrid-item {
        -webkit-box-flex: none !important;
        flex-basis: auto !important;
        flex-grow: initial !important;
        max-width: none !important;
    }
}

@media (min-width: 1200px) {
    .css-zwha4c-MuiGrid-root {
        -webkit-box-flex: none !important;
        flex-basis: auto !important;
        flex-grow: initial !important;
        max-width: none !important;
    }

    .css-1oqqzyl-MuiContainer-root {
        max-width: 1400px !important;
    }

    .css-bn9g8l-MuiGrid-root>.MuiGrid-item {
        -webkit-box-flex: none !important;
        flex-basis: auto !important;
        flex-grow: initial !important;
        max-width: none !important;
    }
}

@media (min-width: 900px) {
    .css-zwha4c-MuiGrid-root {
        -webkit-box-flex: none !important;
        flex-basis: auto !important;
        flex-grow: initial !important;
        max-width: none !important;
    }

    .css-bn9g8l-MuiGrid-root>.MuiGrid-item {
        -webkit-box-flex: none !important;
        flex-basis: auto !important;
        flex-grow: initial !important;
        max-width: none !important;
    }
}

@media (min-width: 600px) {
    .css-zwha4c-MuiGrid-root {
        -webkit-box-flex: none !important;
        flex-basis: auto !important;
        flex-grow: initial !important;
        max-width: none !important;
    }

    .css-bn9g8l-MuiGrid-root>.MuiGrid-item {
        -webkit-box-flex: none !important;
        flex-basis: auto !important;
        flex-grow: initial !important;
        max-width: none !important;
    }
}