.orders-list-page {
    /* border: 1px solid #e0e0e0; */
    padding: 5rem 2rem;
}

.orders-list-page>h5 {
    /* margin-left: 1rem; */
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 1rem;
}

.order-item {
    padding: 20px;
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
}

.order-status {
    font-weight: bold;
}

.order-detail-btn {
    border: none;
    background: none;
    cursor: pointer;
}

.order-detail-btn:hover {
    text-decoration: underline;
}

.order-products {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #e0e0e0;
}

.order-product {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.order-product:last-child {
    border-bottom: none;
}

.product-image {
    width: 80px;
    height: 120px;
    object-fit: cover;
    margin-right: 20px;
}

.product-info {
    flex-grow: 1;
}

.order-date {
    color: #888;
    margin: 4px 0 0 0;
    font-size: 1rem;
}

.product-title {
    margin: 0 0 5px 0;
    font-size: 16px;
    font-weight: bold;
}

.product-details {
    color: #888;
    margin: 0;
    font-size: 0.8rem;
}

.product-price {
    font-weight: bold;
    color: #333;
}

.review-link {
    text-decoration: none;
    color: #888;
    margin-left: auto;
}

.order-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    padding-top: 15px;
}

.total-price {
    font-weight: bold;
    font-size: 18px;
}

.change-status-btn {
    border: none;
    background: #4a90e2;
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    cursor: pointer;
}

.orders-list-page>div>.pagination button {
    color: #000;
    background-color: #fff;
}

.orders-list-page>div>.pagination button:disabled {
    background-color: #fff;
    color: #888;
}

.orders-list-page>div>.pagination button.active {
    background-color: #fff;
    color: #000;
    font-weight: bold;
}