.purchase-page main {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 5rem;
}

.purchase-order-item {
  display: flex;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.purchase-order-item img {
  width: 100px;
  height: 150px;
  object-fit: cover;
  margin-right: 20px;
}

.purchase-item-info {
  flex-grow: 1;
}

.purchase-page .MuiTypography-h4 {
  margin-bottom: 30px !important;
}

.purchase-page .MuiTypography-h5 {
  margin-bottom: 20px !important;
}

.purchase-page.MuiTypography-body1,
.MuiTypography-body2 {
  margin-bottom: 5px !important;
}

.kakaopay-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  flex: 1;
  max-width: 30%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 40px;
}

.kakaopay-btn img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.kakaopay-btn:hover {
  transform: scale(1.05);
}

@media (max-width: 900px) {
  .payment-btn-container {
    justify-content: center !important;
  }

  .kakaopay-btn {
    max-width: 15% !important;
  }
}

@media (max-width: 700px) {
  .kakaopay-btn {
    max-width: 20% !important;
  }
}

@media (max-width: 500px) {
  .kakaopay-btn {
    max-width: 30% !important;
  }
}