body {
    font-family: 'Inter', sans-serif;
  }
  
  .admin-role-info-container {
    display: flex;
    margin-top: 8%;
    margin-top: 0;
  }
  
  .roleSidebar {
    width: 20%;
  }
  
  .content {
    width: 70%;
    padding-left: 30px;
  }
  
  .sidebar-button {
    text-align: left;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-size: larger;
    font-family: inherit;
    padding: 10px 10px 10px 0;
    background: #FFFFFF;
    border: none;
    cursor: pointer;
  }
  
  .sidebar-button.active {
    font-weight: bold;
    background-color: #FFFFFF;
  }
  

  
  @media (max-width: 768px) {
    .admin-role-info-container {
      flex-direction: column;
    }
  
    .roleSidebar, .content {
      width: 100%;
    }
  }